<div class="header">
    <div class="headerContent">
        <a href="#">
            <img src="images/nba_header.jpg">
        </a>

        <div class="nav">
            <ul>
                <li><a href="#" ng-click="">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div id="header_home_2">
            <ul>
                <li>
                    <a href="#">Players</a>
                    <ul>
                        <li><a ng-href="#/nbaPlayersAll">All</a></li>
                        <li><a ng-href="#/nbaCareer">Career</a></li>
                        <li><a ng-href="#/nbaAllStar">All Star</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Teams</a>
                    <ul>
                        <li><a href="#">All</a></li>
                        <li><a href="#">Season</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Coaches</a>
                    <ul>
                        <li><a href="#">All</a></li>
                        <li><a href="#">Career</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>