<my-user user="main.context.user" ></my-user>
<p>
    Name: <input ng-disabled="!main.editMode" type="text" ng-model="main.context.user.firstName" /><br />
    Surname: <input ng-disabled="!main.editMode" type="text" ng-model="main.context.user.lastName" />
    <button  ng-if="!main.editMode" ng-click="main.editClicked()" >Edit</button>
    <button ng-if="main.editMode" ng-click="main.saveClicked()" >Save</button>
</p>

<my-user user="main.context.user" ></my-user>

<div> <br><br>
    <form name="operationForm">
        <legend>SIMPLE OPERATIONS</legend><br>
        First number:<br>
        <input type="text" ng-model="main.mathContext.firstNum"><br>
        Second number:<br>
        <input type="text" ng-model="main.mathContext.secondNum"><br>
        Result:<br>
        <input type="text" ng-model="main.mathContext.result">
        <br><br>
        <button ng-repeat="operation in main.mathContext.operations"
                ng-click="main.operation(operation.op_id)">{{ operation.op_name }}</button>
    </form>
</div>

<div> <br><br>
    <form>
        <legend>FACTORIAL</legend>
        Number: <br>
        <input type="text" ng-model="factorials.factContext.number"><br>
        Result: <br>
        <input type="text" ng-model="factorials.factContext.result"><br><br>
        <button ng-repeat="op in factorials.factContext.operations"
                ng-click="factorials.factorialsFunc(op.id)">{{ op.name }}</button>
    </form>
</div>

<div>
    <form><br><br>
        <legend>MUSICIANS</legend>
        ID: <br>
        <input type="text"><br>
        First Name: <br>
        <input type="text"><br>
        Last Name: <br>
        <input type="text"><br><br>
        <button ng-click="music.get_info()">GET INFO</button><br>
        <textarea rows="20" cols="50"></textarea>
    </form>
</div>
