<my-user user="main.context.user" ></my-user>
<p>{{ main.context.user.firstName }}
    Name: <span ng-if="!main.editMode">{{ main.context.user.firstName }}</span><input ng-if="main.editMode" type="text" ng-model="main.context.user.firstName" /><br />
    Surname: <input ng-disabled="!main.editMode" type="text" ng-model="main.context.user.lastName" />
    <button  ng-if="!main.editMode" ng-click="main.editClicked()" >Edit</button>
    <button ng-if="main.editMode" ng-click="main.saveClicked()" >Save</button>
</p>

<my-user user="main.context.user" ></my-user>

<div> <br><br>
    <form name="operationForm">
        <legend>SIMPLE OPERATIONS</legend><br>
        First number:<br>
        <input type="text" ng-model="main.mathContext.firstNum"><br>
        Second number:<br>
        <input type="text" ng-model="main.mathContext.secondNum"><br>
        Result:<br>
        <input type="text" ng-model="main.mathContext.result">
        <br><br>
        <button ng-repeat="operation in main.mathContext.operations"
                ng-click="main.operation(operation.op_id)">{{ operation.op_name }}</button>
    </form>
</div>




