<div id="header_home5">
    <br><br>
    <ng-form>
        <fieldset id="form">
            <legend id="form">
                <span id="p1">Team Season Statistics</span>
            </legend>
            <div id="left">
                <span id="p2">Team:</span>
                <br>
                <input type="text" ng-model="">
                <br>
                <span id="p2">Year:</span>
                <br>
                <input type="text" ng-model="">
                <br>
                <span id="p2">League:</span>
                <br>
                <input type="text" ng-model="">
                <br> <br>
            </div>
            <div id="left">
                <span id="p2">Points:</span>
                <br>
                <input type="text" ng-model="">
                <select id="points" ng-model="nba.selectedModePointsTS" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Rebounds:</span>
                <br>
                <input type="text" ng-model="">
                <select id="rebounds" ng-model="nba.selectedModeReboundsTS" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Assists:</span>
                <br>
                <input type="text" ng-model="">
                <select id="assists" ng-model="nba.selectedModeAssistsTS" ng-options="item for item in nba.playerModes" ></select>
                <br> <br>
            </div>
            <div id="left">
                <span id="p2">Steals:</span>
                <br>
                <input type="text" ng-model="">
                <select id="steals" ng-model="nba.selectedModeStealsTS" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Blocks:</span>
                <br>
                <input type="text" ng-model="">
                <select id="blocks" ng-model="nba.selectedModeBlocksTS" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Turnovers:</span>
                <br>
                <input type="text" ng-model="">
                <select id="turnovers" ng-model="nba.selectedModeTurnoversTS" ng-options="item for item in nba.playerModes" ></select>
                <br> <br>
            </div>
            <div id="button_style">
                <button ng-click="">GET PLAYERS</button>
                <button>CLEAR ALL</button>
            </div>
        </fieldset>
    </ng-form>
</div>
<br> <br>
<!-- Table -->
<div id="table_style" ng-show="">
    <table>
        <tr>
            <th>Team</th>
            <th>Year</th>
            <th>League</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>Offensive Rebounds</th>
            <th>Defensive Rebounds</th>
            <th>Rebounds</th>
            <th>Assits</th>
            <th>Steals</th>
            <th>Turnovers</th>
            <th>Blocks</th>
            <th>3 PM</th>
            <th>3 PA</th>
        </tr>
        <tr class="alt">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>