<!--
        Field CAREER from drop-down menu

        Form which use to select data from PlayersCareer table
-->
<div id="header_home5">
    <br><br>
    <ng-form>
        <fieldset id="form">
            <legend id="form">
                <span id="p1">Players Career Statistics</span>
            </legend>
            <div id="left">
                <span id="p2">Player ID:</span>
                <br>
                <input type="text" ng-model="nba.nbaCareerQuery.id">
                <br>
                <span id="p2">First Name:</span>
                <br>
                <input type="text" ng-model="nba.nbaCareerQuery.firstName">
                <br>
                <span id="p2">Last Name:</span>
                <br>
                <input type="text" ng-model="nba.nbaCareerQuery.firstName">
                <br> <br>
            </div>
            <div id="left">
                <span id="p2">Points</span>
                <br>
                <input type="text" ng-model="nba.nbaCareerQuery.points">
                <select id="points" ng-model="nba.nbaCareerQuery.selectedModePointsPC" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Rebounds:</span>
                <br>
                <input type="text" ng-model="nba.nbaCareerQuery.rebounds">
                <select id="rebounds" ng-model="nba.nbaCareerQuery.selectedModeReboundsPC" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Assists:</span>
                <br>
                <input type="text" ng-model="nba.nbaCareerQuery.assists">
                <select id="assists" ng-model="nba.nbaCareerQuery.selectedModeAssistsPC" ng-options="item for item in nba.playerModes" ></select>
                <br> <br>
            </div>
            <div id="left">
                <span id="p2">Steals:</span>
                <br>
                <input type="text" ng-model="nba.nbaCareerQuery.steals">
                <select id="steals" ng-model="nba.nbaCareerQuery.selectedModeStealsPC" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Blocks:</span>
                <br>
                <input type="text" ng-model="nba.nbaCareerQuery.blocks">
                <select id="blocks" ng-model="nba.nbaCareerQuery.selectedModeBlocksPC" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Turnovers:</span>
                <br>
                <input type="text" ng-model="nba.nbaCareerQuery.turnovers">
                <select id="turnovers" ng-model="nba.nbaCareerQuery.selectedModeTurnoversPC" ng-options="item for item in nba.playerModes" ></select>
                <br> <br>
            </div>
            <div id="button_style">
                <button ng-click="nba.getPlayersInfoCareer()">GET PLAYERS</button>
                <button>CLEAR ALL</button>
            </div>
        </fieldset>
    </ng-form>
</div>
<br> <br>
<!-- Table -->
<div id="table_style" ng-show="nba.playerCareer">
    <table>
        <tr>
            <th>Player ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Games played</th>
            <th>Minutes</th>
            <th>Points</th>
            <th>Offensive rebounds</th>
            <th>Defensive rebounds</th>
            <th>Rebounds</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>Turnovers</th>
        </tr>
        <tr class="alt" ng-repeat="player in nba.nbaCareerContext.players">
            <td>{{ player.player_id }}</td>
            <td>{{ player.first_name }}</td>
            <td>{{ player.last_name }}</td>
            <td>{{ player.games_played }}</td>
            <td>{{ player.minutes }}</td>
            <td>{{ player.points }}</td>
            <td>{{ player.off_rebounds }}</td>
            <td>{{ player.def_rebounds }}</td>
            <td>{{ player.rebounds }}</td>
            <td>{{ player.assists }}</td>
            <td>{{ player.steals }}</td>
            <td>{{ player.blocks }}</td>
            <td>{{ player.turnovers }}</td>
        </tr>
    </table>
</div>