<!--
    Field ALL-STAR from drop-down menu
-->
<div id="header_home3">
    <br><br>
    <ng-form>
        <fieldset id="form">
            <legend id="form">
                <span id="p1">Players All-Star Statistics</span>
            </legend>
            <div id="left">
                <span id="p2">Player ID:</span>
                <br>
                <input type="text" ng-model="nba.nbaQuery.first_name">
                <br>
                <span id="p2">First Name:</span>
                <br>
                <input type="text" ng-model="">
                <br>
                <span id="p2">Last Name:</span>
                <br>
                <input type="text" ng-model="">
                <br> <br>
            </div>
            <div id="left">
                <span id="p2">Conference:</span>
                <br>
                <input type="text" ng-model="">
                <br>
                <span id="p2">Year:</span>
                <br>
                <input type="text" ng-model="">
                <br>
                <span id="p2">Points:</span>
                <br>
                <input type="text" ng-model="" width="20">
                <select id="points" ng-model="nba.selectedModePointsAS" ng-options="item for item in nba.playerModes" ></select>
                <!-- Drop-down menu - points mode -->
                <!-- <div> id="mode" > -->
                    <!--ul>
                        <li>
                            <a href="#">.</a>
                            <ul>
                                <li><a href="#">gt</a></li>
                                <li><a href="#">gte</a></li>
                                <li><a href="#">lt</a></li>
                                <li><a href="#">lte</a></li>
                                <li><a href="#">eq</a></li>
                            </ul>

                        </li>
                    </ul-->
                <!-- </div> -->
            <br> <br>
            </div>
            <div id="left">
                <span id="p2">Rebounds:</span>
                <br>
                <input type="text" ng-model="">
                <select id="rebounds" ng-model="nba.selectedModeReboundsAS" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Assists:</span>
                <br>
                <input type="text" ng-model="">
                <select id="assists" ng-model="nba.selectedModeAssistsAS" ng-options="item for item in nba.playerModes" ></select>
                <br>
                <span id="p2">Blocks:</span>
                <br>
                <input type="text" ng-model="">
                <select id="blocks" ng-model="nba.selectedModeBlocksAS" ng-options="item for item in nba.playerModes" ></select>
                <br> <br>
            </div>
            <div id="button_style">
                <button ng-click="nba.getPlayersInfo()">GET PLAYERS</button>
                <button>CLEAR ALL</button>
            </div>
        </fieldset>
    </ng-form>
</div>
<br> <br>
<!-- Table -->
<div id="table_style" ng-show="">
    <table>
        <tr>
            <th>Player ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Year</th>
            <th>Conference</th>
            <th>Minutes</th>
            <th>Points</th>
            <th>Offensive rebounds</th>
            <th>Defensive rebounds</th>
            <th>Rebounds</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>Turnovers</th>
        </tr>
        <tr class="alt">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>