<div id="header_home4">
    <br><br>
    <ng-form>
        <fieldset id="form">
            <legend id="form">
                <span id="p1">All Teams Statistics</span>
            </legend>
            <div id="left">
                <span id="p2">Name:</span>
                <br>
                <input type="text" ng-model="">
                <br>
                <span id="p2">Location:</span>
                <br>
                <input type="text" ng-model="">
                <br><br>
            </div>
            <div id="button_style">
                <button ng-click="">GET PLAYERS</button>
                <button>CLEAR ALL</button>
            </div>
        </fieldset>
    </ng-form>
</div>
<br> <br>
<!-- Table -->
<div id="table_style" ng-show="">
    <table>
        <tr>
            <th>Team</th>
            <th>Location</th>
            <th>Name</th>
            <th>League</th>
        </tr>
        <tr class="alt">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>