@charset "utf-8";
body {
     background-image: url("/images/michael-jordan1.jpg");
     background-size: cover;
}
#header_home {
    /*background-image: url("/images/michael-jordan1.jpg");*/
    /*background-size: cover;*/
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 120%;
    font-stretch: normal;
    width: 440px;
}

#header_home3 {
    /*background-image: url("images/michael-jordan1.jpg");*/
    /*background-size: cover;*/
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 120%;
    font-stretch: normal;
    width: 800px;
}

#header_home4 {
    /*background-image: url("images/michael-jordan1.jpg");*/
    /*background-size: cover;*/
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 120%;
    font-stretch: normal;
    width: 300px;
}

#header_home5 {
    /*background-image: url("images/michael-jordan1.jpg");*/
    /*background-size: cover;*/
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 120%;
    font-stretch: normal;
    width: 720px;
}

#header_home6 {
    /*background-image: url("images/michael-jordan1.jpg");*/
    /*background-size: cover;*/
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 120%;
    font-stretch: normal;
    width: 460px;
}

#header_home7 {
    /*background-image: url("images/michael-jordan1.jpg");*/
    /*background-size: cover;*/
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 120%;
    font-stretch: normal;
    width: 280px;
}

#header_home_2 {
    background-color: #000088;
    font-size: 100%;
    font-family: Verdana, Arial, helvetica, sans-serif;
    font-weight: 800;
    color: #d8d8d8;
    margin: 0;
    padding: 0;
}

#header_home_2 ul {
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-align: center;
    /*list-style: none;*/
    /*float: left;*/
    /*position: relative;*/
    /*line-height: 30px;*/
}

#header_home_2 li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
    background: #d8d8d8;
}

#header_home_2 ul li a {
    text-align: center;
    font-family: Verdana, Arial, helvetica, sans-serif;
    text-decoration: none;
    height: 30px;
    width: 150px;
    display: block;
    color: #101010;
    /*border: solid #880000;*/
}

#header_home_2 ul ul {
    position: absolute;
    visibility: hidden;
    top: 30px;
}

#header_home_2 ul li:hover ul {
    visibility: visible;
}

#header_home_2 li:hover {
    background: #880000;
}

#header_home_2 ul li:hover ul li a:hover {
    background: #000066;
    color: #ffffff;
}

body {
    margin: 0;
}
.header {
    width: 100%;
    height: auto;
    background-color: #909090;
    padding-top: 24px;
}
.headerContent {
    width: 1024px;
    height: auto;
    margin: 0 auto;
}
.headerContent a img {
    width: 659px;
    height: 144px;
    margin: 0px auto;
    display: block;
}
.nav {
    margin-top: 20px;
    height: 40px;
    background: #000088;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav ul li {
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 100%;
    font-stretch: normal;
}
.nav ul li a:hover {
    color: white;
}
.headerBreak {
    width: 100%;
    height: 0;
    border-bottom: 2px solid #ffffff;
}

#table_style {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#table_style td, #table_style th {
    font-size: 1em;
    border: 1px solid #000066;
    padding: 3px 7px 2px 7px;
}

#table_style th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #000066;
    color: #ffffff;
}

#table_style tr.alt td {
    color: #000000;
    background-color: #0b97c4;
}

#left {
    position: relative;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}

#right {
    position: relative;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

#form {
    background-color: #880000;
    color: #ffffff;
}

#playerStatistics {
    width: 500px;
    background-color: #000000;
}

#imageDiv {
    float: left;
    position: relative;
    padding-top: 20px;
}

#dataDiv {
    float: left;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: 500;
    align-content: flex-start;
    padding-left: 20px;
    padding-top: 30px;
}

#FIRST {
    position: relative;
    float: left;
    padding-left: 30px;
}

#SECOND {
    position: relative;
    float: left;
}

#SECOND div {
    position: relative;
    float: left;
}

#table_style2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#table_style2 td, #table_style2 th {
    font-size: 0.4em;
    border: 1px solid #000066;
    padding: 3px 7px 2px 7px;
    column-width: 20px;
}

#table_style2 th {
    font-size: 0.5em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #000066;
    color: #ffffff;
    /*width: 20px;*/
}

#table_style2 tr.alt td {
    color: #000000;
    background-color: #0b97c4;
}

#THIRD {
    position: relative;
    float: left;
}

#radio_style {
    position: relative;
    float: left;
    padding-left: 250px;
}

#button_style {
    padding-left: 20px;
    padding-bottom: 10px;
}

.dirLeft {
    position: relative;
    float: left;
    padding-left: 25px;
}

#header {
	position: relative;
    /*text-align-all: center;*/
	width: 500px;
	margin: auto;
}

#header h2 {
	margin-left: 10px;
    /*vertical-align: middle;*/
    /*horiz-align: center;*/
    align-content: center;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
	/*color: #000;*/
}

#content {
	width: 880px;
	margin: 0 auto;
	padding: 10px;
}

#footer {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.demo-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.demo-containerAllStar {
	box-sizing: border-box;
	width: 650px;
	height: 320px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #000;
	background: #fff;
	background: linear-gradient(#4178f6 0, #fff 50px);
	background: -o-linear-gradient(#4178f6 0, #fff 50px);
	background: -ms-linear-gradient(#4178f6 0, #fff 50px);
	background: -moz-linear-gradient(#4178f6 0, #fff 50px);
	background: -webkit-linear-gradient(#4178f6 0, #49f 50px);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,1);
}

.demo-placeholderAllStar {
	width: 100%;
	height: 100%;
	font-size: 10px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}

.allStarGraph {
    width: 930px;
    background-color: #000066;
    color: #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
}

.allStarFieldSet {
    width: 900px;
}

.allStarLeft {
    position: relative;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.allStarPage {
    padding-left: 10px;
    background-color: #000066;
    color: #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
}