#p1 {
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 70%;
    padding: 2px 10px;
    /*border: #d8d8d8;*/
    border: double;
}

#p2 {
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 50%;
    padding-top: 5px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
}

#p3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#p4 {
    color: #31b0d5;
    font-size: 70%;
    padding-left: 10px;
}

#p5 {
    color: #ffffff;
    font-size: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

